<!--
 Tony Thompson
 2/2/18
 profile-info.html
 page to enter email and state for dating site
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../styles/styles.css">

    <title>Dating</title>
</head>
<body>

<!-- As a heading -->
<nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0">My Dating Website</h1>
</nav>
<br>


<div class="container  m-auto card">


    <form method="post" action="interests">

        <div class="row mx-auto card-block">
            <!-- heading -->
                <div class="col-12">
                    <h2>Profile</h2>
                    <hr>
                </div>


            <!-- left side -->
            <div class="col-6">

                <div class="row form-group">
                    <label class="font-weight-bold">Email</label>
                    <input type="text" class="form-control" name="email" id="email" value="{{@email}}">
                </div>

                <div class="row form-group">
                    <label class="font-weight-bold">State</label>
                    <select class="form-control" name="state" id="state">
                        <repeat group="{{ @states }}" value="{{ @stateOp }}">
                            <option
                            <check if="{{ @stateOp == @state }}">selected</check>>
                            {{ @stateOp }}
                            </option>
                        </repeat>
                    </select>
                </div>

                <!-- radio -->
                <div class="row form-check">
                    <div class="font-weight-bold">Seeking</div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="seeking" id="male" value="male" checked>
                            Male
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="seeking" id="female" value="female">
                            Female
                        </label>
                    </div>
                </div> <!-- end row -->


            </div>

            <!-- right side -->
            <div class="col-6 form-group">
                <label class="font-weight-bold">Biography</label>
                <textarea class="form-control" rows="6" name="bio" id="bio"></textarea>
            </div>


            <div class="col">
                <div class="row">

                    <div class="col-11">
                        <div class="mx-auto">
                            <button class="btn btn-primary float-right" name="submit" value="next" type="submit">Next >
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</body>
</html>