<!--
 Tony Thompson
 2/2/18
 summary.html
 page for summary of user on dating website
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../styles/styles.css">

    <title>Dating</title>
</head>
<body>

<!-- As a heading -->
<nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0">My Dating Website</h1>
</nav>
<br>

<!-- container -->
<div class="container  m-auto card">
    <br>
    <div class="row"> <!-- main contain row -->

        <!-- left col -->
        <div class="col-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: {{@first}} {{@last}}</li>
                    <li class="list-group-item">Gender: {{@gender}}</li>
                    <li class="list-group-item">Age: {{@age}}</li>
                    <li class="list-group-item">Phone: {{@phone}}</li>
                    <li class="list-group-item">Email: {{@email}}</li>
                    <li class="list-group-item">State: {{@state}}</li>
                    <li class="list-group-item">Seeking: {{@seeking}}</li>
                    <li class="list-group-item">Interests:
                        <repeat group="{{@indoor}}" value="{{@interest}}">
                            {{@interest}}
                        </repeat>
                        <repeat group="{{@outdoor}}" value="{{@interest}}">
                            {{@interest}}
                        </repeat>
                    </li>
                </ul>
            </div>
        </div>


        <!-- right col -->
        <div class="col-6">
            <div class="row"> <!-- top right -->
                <div class="col">
                    <img src="images/mainprofile.jpg" class="rounded img-fluid mx-auto" alt="Responsive image">
                </div>
            </div>
            <div class="row"> <!-- bottom right -->
                <div class="col">
                    <h5>Biography</h5>
                    <p>{{@bio}}</p>
                </div>
            </div>
        </div>

    </div> <!-- end contain row -->

    <!-- button -->
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-primary" name="submit" value="next" type="submit">Contact Me!
            </button>
        </div>
    </div>
    <br>

</div> <!-- end container -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</body>
</html>